@model IEnumerable<PcMarket.Models.PcPartProp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartDescribtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartOrBuild)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartDescribtion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartOrBuild)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartCategory)
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>