@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div id="menu">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse topnav">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="dropdown">
                                <a class="nav-link" asp-controller="pcpart" asp-action="List">ნაწილები</a>
                                <div class="dropdown-content">
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.Cpu">პროცესორები</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.MotherBoard">დედაბარათები</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.GPU">ვიდეო ბარათი</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.HDD">ვინჩესტერი HDD</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.SSD">ვინჩესტერი SSD</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.M2">ვინჩესტერი M2-SSD</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.PSU">კვების ბლოკები</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.RAM">მეხსიერების მოდულები</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.Case">კეისები</a>
                                    <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.MotherBoard">ქულერები</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PcBuild" asp-action="pclist">კომპიუტერები</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="admin" asp-controller="part" asp-action="index">Admin Panel</a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-rigth nav-item">
                        <a asp-controller="cart" asp-action="index">კალათა</a>
                        <a asp-controller="pcpart" asp-action="Contact">კონტაქტი</a>
                        <a asp-controller="account" asp-action="Register">რეგისტრაცია</a>
                        <a asp-controller="account" asp-action="Logint">შესვლა</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-3">
                    <div class="smallcart bg-success mt-3 p-3 text-white">
                        @await Component.InvokeAsync("SmallCart")
                    </div>
                </div>
            </div>
            <div class="col">
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>