@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <style>
        #menu ul li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width:200px;
            float:left;
            position:relative;
        }
            #menu li a, .dropbtn {
                display:block;
                color: white;
                text-align:center;
                padding: 14px 16px;
                text-decoration: none;
            }
                #menu li a:hover, .dropdown:hover .dropbtn {
                    background-color: darkgreen;
                    color:white;
                }

            #menu li.dropdown {
                display: inline-block;
            }
        #menu .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
            #menu .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
        #menu .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div id="menu">
        <div class="navbar navbar-inverse navbar-fixed">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="nav-link" asp-controller="pcpart" asp-action="List">ნაწილები</a>
                            <div class="dropdown-content">
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.Cpu">პროცესორები</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.MotherBoard">დედაბარათები</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.GPU">ვიდეო ბარათი</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.HDD">ვინჩესტერი HDD</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.SSD">ვინჩესტერი SSD</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.M2">ვინჩესტერი M2-SSD</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.PSU">კვების ბლოკები</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.RAM">მეხსიერების მოდულები</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.Case">კეისები</a>
                                <a class="nav-link" asp-controller="pcpart" asp-action="List" asp-route-category="@PcMarket.Models.Category.MotherBoard">ქულერები</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="PcBuild" asp-action="pclist">კომპიუტერები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="part" asp-action="index">Admin Panel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="pcpart" asp-action="Contact">კონტაქტი</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>
</html>