@model IEnumerable<PcMarket.Models.PcPartOrder>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <title>@ViewData["Title"]-შეკვეთები</title>
    <meta charset="utf-8">
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<h4 class="text-center text-uppercase">შეკვეთები</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Surname)</th>
            <th>@Html.DisplayNameFor(model => model.Adress)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Mail)</th>
            <th>@Html.DisplayNameFor(model => model.PartName)</th>
            <th>@Html.DisplayNameFor(model => model.PartPrice)</th>
            <th>@Html.DisplayNameFor(model => model.DateTimeNow)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.Adress
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Mail
            </td>

            <td>
                <a asp-area="" asp-controller="pcpart" asp-action="details" asp-route-id="@item.PartId">@item.PartName</a>
            </td>
            <td>
            </td>

            <td>
                @item.PartPrice ლარი
            </td>
            <td>
                @item.DateTimeNow
            </td>
            <td>
                <a asp-area="admin" asp-controller="order" asp-action="delete" asp-route-id="@item.Id">შეკვეთის წაშლა</a>
            </td>
        </tr>
        }
    </tbody>
</table>