@model PcMarket.ViewModels.PcPartDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Employee Details";
}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body text-center">
                <img class="card-img-top" src="https://globalimpactnetwork.org/wp-content/themes/globalimpact/images/no-image-found-360x250.png" width="450" height="230" />
                <h3>დასახელება : @Model.PartName</h3>
                <h3>მდგომარეობა :@Model.PartCondition</h3>
                <h3>კატეგორია :@Model.PartCategory</h3>
                <h3>ფასი : @Model.PartPrice ლარი</h3>
                <h3>აღწერა : @Model.PartDescribtion</h3>

            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-primary" onclick="window.history.go(-1)">უკან</button>
                <a asp-controller="pcpart" asp-action="edit" asp-route-id="@Model.Id">ჩასწორება</a>
                <a asp-controller="pcpart" asp-action="delete" asp-route-id="@Model.Id">წაშლა</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}