@model PcMarket.ViewModels.PcPartDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<title>@ViewData["Title"]-დეტალურად</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="row justify-content-center m-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PartName)</th>
                <th>@Html.DisplayNameFor(model => model.PartCondition)</th>
                <th>@Html.DisplayNameFor(model => model.PartPrice)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="/images/@Model.ImageFile" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                    @Model.PartName
                </td>
                <td>@Model.PartCondition</td>
                <td>@Model.PartPrice</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PartDescribtion)</th>
            </tr>
            <a href='javascript:history.go(-1)'>Return to client detail</a>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PartDescribtion</td>
            </tr>
        </tbody>
    </table>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body text-center">
                <img src="/images/@Model.ImageFile" class="rounded-circle" height="400" width="400" asp-append-version="true" />
            </div>
            <div class="card-footer text-center">
                <a asp-controller="pcpart" asp-action="Order" asp-route-id="@Model.Id">შეკვეთა</a>
            </div>
        </div>
    </div>
</div>