@model IEnumerable<PcMarket.Models.PcPartProp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta charset="utf-8">
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>@ViewData["Title"]-კომპიუტერის ნაწილები</title>
</head>
<h4 class="text-center text-uppercase">კომპიუტერის ნაწილები</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PartName)</th>
            <th>@Html.DisplayNameFor(model => model.PartPrice)</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/images/@item.FileName" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                    @item.PartName
                    <div class="card-footer text-center">
                        <a asp-controller="pcpart" asp-action="details" asp-route-id="@item.ID">სრულად</a>
                    </div>
                </td>
                <td>
                    @item.PartPrice ლარი
                    <div class="card-footer text-center">
                        <a asp-controller="pcpart" asp-action="Order" asp-route-id="@item.ID">შეკვეთა</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>