@model IEnumerable<PcMarket.Models.PcComputerProp>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Builds";
}
<h1 class="display-4 pb-5">კომპიუტერები</h1>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-4">
        <img src="~/images/@item.FileName" class="img-fluid" alt="" />
        <h4>@item.BuildName</h4>
        <div>
            @Html.Raw(item.CustomDescription)
        </div>
        <p>
            @item.BuildPrice
        </p>
        <p>
            <a asp-area="" asp-controller="pcbuild" asp-action="pcbuilddetails" asp-route-id="@item.ID" class="btn btn-primary">დეტალურად</a>
            <a asp-area="" asp-controller="pcbuild" asp-action="PcBuildOrder" asp-route-id="@item.ID" class="btn btn-primary">შეკვეთა</a>
        </p>
    </div>
    }
</div>